@model List<Category>

<select class="form-control show-tick" id="childCatId" name="childCatId">
    @foreach (Category cat in Model)
    {
        <option value="@cat.Id"> @cat.Name</option>
    }

</select>