@model Category

<div class="row clearfix"></div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Update Category
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <form method="post" enctype="multipart/form-data">
               
               @if(Model.IsMain){

               }
                <div id="PhotoBox" class="form-group form-float">
                    <div class="form-line">
                        <label asp-for="Photo"></label>
                        <input asp-for="Photo" class="filled-in chk-col-indigo" checked="">


                    </div>
                    <div>
                        <span asp-validation-for="Photo" class="font-bold col-red"></span>
                    </div>
                </div>
                <div class="" id="MainCatBox">
                    <p>
                        <b>Select Main Category</b>
                    </p>
                    <select class="form-control show-tick" name="MainCatId">
                        @foreach (Category cat in ViewBag.Categories)
                        {
                            <option value="@cat.Id" option>@cat.Name</option>
                        }

                    </select>

                </div>



                <br>
                <button type="submit" class="deep-purple m-t-15 waves-effect">Submit</button>
            </form>
        </div>
    </div>
</div>



@section Css{
    <style>
        .dropdown-menu.inner {
            max-height: 200px !important
        }
    </style>
    <link asp-append-version="true" href="~/admin/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    }

    @section Scripts{

    <partial name="_ValidationScriptsPartial" />
   
     }